root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Lithium code style
[**.java]
indent_style = tab
indent_size = 4
continuation_indent_size = 8
indent_brace_style = 1TBS
curly_bracket_next_line = false
spaces_around_operators = true

# 4 space indentation
[**.xml]
indent_style = space
indent_size = 2
